$text-family: "Poppins", sans-serif;
$red-color: hsl(0, 100%, 74%);
$green-color: hsl(154, 59%, 51%);
$green-a-color: hsl(154, 82%, 50%);
$green-t-color: hsl(154, 59%, 35%);
$blue-color: hsl(248, 32%, 49%);
$dark-blue-color: hsl(249, 10%, 26%);
$grayish-blue-color: hsl(246, 25%, 77%);
$grayish-blue-t-color: hsla(246, 25%, 77%, 40%);
$black-t-color: rgba(0, 0, 0, 20%);

@mixin shadow($shadow-color: $black-t-color) {
  box-shadow: 0 8px $shadow-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $text-family;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: $red-color;
}

main {
  width: 375px;
  padding: 120px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: 700;
  }

  p {
    margin-bottom: 60px;
    font-weight: 500;
  }
}

.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #promo {
    background-color: $blue-color;
    color: $grayish-blue-color;
    text-align: center;
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    @include shadow;

    #promo-free {
      font-weight: 700;
      color: white;
    }
  }

  section#form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    @include shadow;
    
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 15px;
      gap: 18px;

      input {
        padding: 18px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $grayish-blue-color;
        font-weight: 700;
        font-size: 1rem;
        color: $dark-blue-color;

        &:focus {
          border: 1px solid $blue-color;
          outline: none;
        }
      }

      label {
        align-self: flex-end;
        position: relative;
        display: none;

        p {
          color: $red-color;
          margin-top: -15px;
        }

        img {
          position: absolute;
          top: -58px;
          left: 120px;
        }
      }

      button {
        text-transform: uppercase;
        background-color: $green-color;
        border: none;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px $green-t-color;
        color: white;
        font-weight: 600;
        margin-bottom: 0px;
        width: 100%;
        font-size: 0.9rem;

        &:hover {
          cursor: pointer;
          background-color: $green-a-color;
        }
      }

      p {
        font-size: 0.7rem;
        color: $grayish-blue-color;
        text-align: center;
        font-weight: 600;
        margin-top: -5px;
        padding: 0 5px;
        line-height: 1.3rem;

        #T-and-C {
          color: $red-color;
          font-weight: 700;

          &::before {
            content: " ";
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }

  main {
    width: 1440px;
    flex-direction: row;
    padding: 120px;
  }

  header {
    width: 50%;
    text-align: left;
    padding: 50px;

    h1 {
      font-size: 3rem;
      line-height: 3.2rem;
      margin-bottom: 40px;
      margin-top: 80px;
    }
  }

  .customer-info {
    width: 50%;

    #promo {
      width: 90%;
      margin-bottom: 25px;
    }

    section#form {
      width: 90%;

      form {
      input {
        padding-left: 30px;
      }

      button {
        font-size: 1rem;
        padding-top: 25px;
      }

    }
    }

  }
}
